/docs/
/backend/target/
/backend/.classpath
/backend/.project
/backend/.settings/
/backend/*.iml
/node_modules/
/**/node_modules/
/**/dist/
/**/out/
/**/coverage/
/**/*.tsbuildinfo
/.pnpm-store/
*.log
